@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Signika:wght@300..700&family=VT323&display=swap');


body {
    background-image: url('media/black.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    /* Add smooth transition */
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
}

#endScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "VT323", monospace;
    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmxhN2pjaGp4MmZtanZmc2VkcDEzYnd5bms5dTF6cGo4ZWZyMWkxcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TjSaNRzMZyrk6KCQOb/giphy-downsized-large.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 6rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4em;
    margin: 20px 0;
    text-transform: uppercase;
}

.full.screen-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#blurred-box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    margin: 15%;
}

#inventoryButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    padding: 10px 15px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7rem;
    transition: background-color 0.3s ease;
}

#inventoryButton:hover {
    background-color: #666666;
}


/* ! Not used anymore */

/* .console-underscore {
    display: inline-block;
    animation: blink 1a infinite;
    font-weight: bold;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
} */

#options {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#narration {
    font-family: "VT323", monospace;
    font-size: larger;
    text-align: left;
    padding: 20px;
    color: #ffffff;
    margin: 0 auto;
    line-height: 1.6rem;
    width: 80%;
}

.eventTextStyle {
    font-family: "VT323", monospace;
    font-size: x-large;
    text-transform: uppercase;
    color: rgb(255, 68, 51);
    width: 80%;
    margin: 0 auto;
}

.oldSageText {
    font-style: italic;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}


/* Buttons */
button {
    font-family: "VT323", monospace;
    background-color: rgb(243, 156, 18);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.7rem;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgb(231, 126, 35);
    transform: translateY(-2px);
}


#popupMessage {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(46, 204, 113, 0.9);
    z-index: 1000;
    /* Ensure the popup is on top of other elements */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9rem;
        padding: 10px;
    }

    #narration,
    .eventTextStyle {
        width: 90%;
        font-size: 1rem;
        line-height: 1.4rem;
        ;
    }

    h1 {
        font-size: 4rem;
    }

    button,
    #inventoryButton {
        font-size: 1.2rem;
        padding: 8px 15px;
    }

    #blurred-box {
        margin: 10%;
        padding: 15px;
    }

    #popupMessage {
        width: 90%;
        font-size: 1rem;
        ;
    }
}


@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 1rem;
    }

    #narration,
    .eventTextStyle {
        width: 85%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        ;
    }

    h1 {
        font-size: 5rem;
    }

    button,
    #inventoryButton {
        font-size: 1.4rem;
        padding: 10px 18px;
    }

    #blurred-box {
        margin: 10%;
        padding: 20px;
    }

    #popupMessage {
        width: 80%;
        font-size: 1.2rem;
        ;
    }
}


@media (min-width: 901px) {
    body {
        font-size: 1.2rem;
    }

    #narration,
    .eventTextStyle {
        width: 75%;
        font-size: 1.5rem;
        line-height: 1.6rem;
        ;
    }

    h1 {
        font-size: 6rem;
    }

    button,
    #inventoryButton {
        font-size: 1.7rem;
        padding: 10px 20px;
    }

    #blurred-box {
        margin: 15%;
    }

    #popupMessage {
        width: 70%;
        font-size: 1.3rem;
        ;
    }
}